@font-face {
    font-family: 'aargh';
    src: url('./fonts/Aaargh-webfont.eot');
    src: url('./fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Aaargh-webfont.woff') format('woff'),
         url('./fonts/Aaargh-webfont.ttf') format('truetype'),
         url('./fonts/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: #315657;
    color: #fff;
    
    width: 100%;
    min-width: 360px;
    height: 100vh;
    overflow: hidden;
    
    text-align: center;
    
    font-size: 1em;
    
    font-family: 'aargh';
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
}

section, .navigation {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.application-loaded section, .application-loaded .navigation {
    opacity: 1;
} 

a, a:hover {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0 0 5px 0;
}

.navigation {
    position: absolute;
    bottom: 5%;
    
    width: 30px;
    height: 30px;
    
    
    font-size: 1.5em;
    border: 2px solid #fff;
    
    border-radius: 20px;
}

.navigation.navigation-left {
    left: 5%;
}

.navigation.navigation-right {
    right: 5%;
}


.headline {
    margin-top: -5%;
}

.underline {
   padding: 0 17px;
   border-bottom: 2px solid #fff;
}
   
.rules-description {
    text-align: left;
}

.cols {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adaptive-content h1 {
    font-size: 1.2em;
}

.adaptive-content h2 {
    font-size: 1em;
}

@media (max-width: 450px) {
    .adaptive-content h1, h1 {
        font-size: 1.5em;
    }
    
    .adaptive-content h2, h2 {
        font-size: 1.2em;
    }
    
    .cols {
        display: block;
    }
}